<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EnviroHealthSafety_Data.My.MySettings.EnvroHealthSafetydbConnectionString"
            connectionString="Dsn=EnviroHealthSafety_Data103" providerName="System.Data.Odbc" />
        <add name="EnviroHealthSafety.My.MySettings.EnvroHealthSafetydbConnectionString"
            connectionString="Data Source=ibr4ucrdb103;Initial Catalog=EnvroHealthSafetydb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>